<%= render "shared/header" %>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>お気に入り商品</h2>
    <ul class='item-lists'>
      <% if Favorite.where(user_id: current_user.id).exists? %>
        <%= render partial:"items/item", collection: @items %>
      <% else %>
        <%= "お気に入りの商品はありません" %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
  <%= render "shared/footer" %>